/* Curious Weather App  */
body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

h1 {
  color: white;
}

.container {
  margin: 1%;
  /* border: 2px solid red; */
  width: 100%;
  height: 50%;
}

.card {
  /* border: 2px solid red; */
  margin: 0.3%;
  border-radius: 1%;
  width: 100%;
  height: 90%;
}

.card-header {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
}

.city-temp {
  display: flex;
  justify-content: space-around;
}

.horz-line {
  width: 100%;
  size: 2;
  color: black;
}

.day-temp-display {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.each-display {
  background-color: lightgray;
  height: 600px;
  width: 50%;
  margin: 3%;
  border-radius: 2%;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.weather-img {
  border: none;
  border-radius: 50%;
  height: auto;
  width: 60%;
  margin-left: 22%;
  margin-top: 30%;
}

.weather-text {
  margin-top: 30%;
}

.cookie-box {
  position: fixed;
  bottom: 40%;
  right: 10%;
  left: 10%;
  background-color: lightskyblue;
  border-radius: 0.5%;
}

.cookie-box > h5,
.cookie-box > button,
.cookie-box > p.a {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.accept-btn {
  color: lightskyblue;
  /* background-color: rgb(201, 229, 247); */
  border: 2px solid lightskyblue;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 50%;
}
