/* Curious Weather App  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}

h1 {
  color: white;
}

.container {
  margin: 1%;
  /* border: 2px solid red; */
  width: 100%;
  height: 10%;
}

.card {
  /* border: 2px solid red; */
  margin: 0.3%;
  border-radius: 1%;
  width: 100%;
  height: 25%;
}

.card-header {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
}

.city-temp {
  display: flex;
  justify-content: space-around;
}

.horz-line {
  width: 100%;
  size: 2;
  color: black;
}

.day-temp-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.each-display {
  background-color: lightgray;
  /* height: 600px; */
  height: 50%;
  width: 45%;
  margin: 0.5%;
  border-radius: 2%;
  cursor: pointer;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.weather-img {
  border: none;
  border-radius: 50%;
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.weather-text {
  margin-top: 5%;
}

.cookie-box {
  position: fixed;
  bottom: 40%;
  right: 5%;
  left: 6%;
  background-color: lightskyblue;
  border-radius: 0.5%;
}

.cookie-box > h5,
.cookie-box > button,
.cookie-box > p.a {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.accept-btn {
  color: black;
  background-color: white;
  border: none;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 50%;
}
